<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IconPacks.Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IconPacks.Browser.Properties.Settings>
            <setting name="SidebarExpandedWidth" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="IconPreviewSize" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ExportTemplatesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IcoExportIconSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="IcoExportRectSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="IcoExportRectRadius" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IcoExportPathStrokeThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IcoExportRectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IcoExportIconRotate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IcoExportIconTranslateX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IcoExportIconTranslateY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IcoExport16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IcoExport24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport32" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IcoExport48" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IcoExport64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport72" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport96" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport128" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport180" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IcoExport256" serializeAs="String">
                <value>True</value>
            </setting>
        </IconPacks.Browser.Properties.Settings>
    </userSettings>
</configuration>